{% extends 'website/main.html' %}

{% block content %}
<div class="row dish-detail-container">
    <div class="col-md-4 dish-main">
        <h1>{{ dish.name }}</h1>
        <a href="{% url 'restaurant_detail' pk=dish.restaurant.pk %}">{{ dish.restaurant.name }}</a>
        <img class="main-image" src="{{ dish.image }}" alt="{{dish.name}}">
        <div><button type="button" class="btn btn-primary btn-photo">See More Photos</button></div>
    </div>
    <div class="col-md-5 dish-info">
        <p>
          {% for i in dish.average_rating_range %}
              <img class="rating" src="../../static/img/rating.png" alt="rating">
          {% endfor %}
            {{dish.reviews.count}} Reviews
        </p>
        <p>{{dish.description}}</p>
        <p>${{dish.price}}</p>
    </div>
    <div class="col-md-3 other-dishes">
      <p>More dishes from {{dish.restaurant.name}}</p>
      {% for dish in dishes|slice:":3"%}
        <a href="{% url 'dish_detail' pk=dish.pk %}"><img class="other-dishes-images" src="{{ dish.image }}" alt="{{dish.name}}"></a>
        <p>{{dish.name}}</p>
        <p>
          {% for i in dish.average_rating_range %}
              <img class="rating" src="../../static/img/rating.png" alt="rating">
          {% endfor %}
            {{dish.reviews.count}} Reviews
        </p>
      {% endfor %}
      <a href="{% url 'restaurant_detail' pk=dish.restaurant.pk %}" type="button" class="btn btn-primary">See Menu</a>
    </div>
    <div class="col-md-12">
      <h2 id="review-head">Reviews</h2>
      {% if user.is_authenticated %}
          <h3>Write A Review</h3>
          <form method="POST" class="post-form">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit" class="save btn btn-default">Save</button>
          </form>
      {% else %}
          <h3><a href="/login">Log in</a> to write a review!</h3>
      {% endif %}
      {% for review in reviews %}
        <div class="reviews">
          <a href="{% url 'user_detail' pk=review.author.pk %}"><p>{{ review.author}}</p></a>
          {% for i in review.rating_range %}
              <img class="rating" src="../../static/img/rating.png" alt="rating">
          {% endfor %}
          <p>{{ review.feedback }}</p>
          <p>{{ review.created_date}}</p>
          <button type="button">Like</button>
        </div>
      {% endfor %}
    </div>
</div>
{% endblock %}
