{% extends 'website/main.html' %}

{% block content %}
    <div class="dish">
        <h1>{{ dish.name }}</h1>
        <p>{{ dish.restaurant.name }}</p>
        <img src="{{ dish.image }}" alt="{{dish.name}}">
        <p>{{dish.description}}</p>
        <p>{{dish.price}}</p>
    </div>
    <div class="reviews">
      {% for review in reviews %}
        <p>{{ review.author}}</p>
        <p>{{ review.rating}}</p>
        <p>{{ review.feedback}}</p>
        <p>{{ review.created_date}}</p>
      {% endfor %}
    </div>
{% endblock %}
