{% extends 'website/main.html' %}

{% block content %}
<h1>{{ restaurant.name }}</h1>
<img class="main-image" src="{{ restaurant.image }}" alt="{{restaurant.name}}">
<p>{{restaurant.location}}</p>
<p>{{restaurant.phone}}</p>
<p>{{restaurant.website}}</p>
<h2>Menu</h2>
<div class="row">
  {% for dish in dishes %}
    <div class="col-md-3">
        <a href="{% url 'dish_detail' pk=dish.pk %}"><img class="img-thumbnail menu-images" src="{{ dish.image }}" alt="{{dish.name}}"></a>
        <p>{{dish.name}}</p>
    </div>
  {% endfor %}
</div>

{% endblock %}
